<!DOCTYPE html>
<html>
  <head>
    <title>DAV - RAS</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="../stylesheets/Style.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default ">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle=collapse data-target="#navbar-1">
              <span class="sr-only">
                Menu
              </span>
              <span class="incon-bar">
              </span>
              <span class="incon-bar">
              </span>
              <span class="incon-bar">
              </span>
            </button>
            <h4>DAV-RAS</h4>
          </div>
          <div class="collapse navbar-collapse" id="navbar-1">
            <ul class="nav navbar-nav">
              <li>
                <a href="quienesSomos.html" >
                  Quiénes somos
                </a>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li>
                <a href="productos.html">
                  Productos
                </a>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li>
                <a href="servicios.html">
                  Servicios
                </a>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li>
                <a href="casosExito.html">
                  Casos de Éxito
                </a>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li>
                <a href="#">
                  Contáctenos
                </a>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li>
                <a href="../index.html">
                  Inicio
                </a>
              </li>
            </ul>
            <form action="" class="navbar-form navbar-right">
              <div class="form-group">

                <label class="sr-only" for="User">Usuario:</label>
                <input type="text" class="form-control" id="User" placeholder="Ingrese usuario">

                <label class="sr-only" for="Password">Contraseña:</label>
                <input type="password" id="Password" class="form-control" placeholder="Ingrese la contraseña">

                <button class="btn btn-ttc">Log in</button>
              </div>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <h1>Quienes Somos</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<footer>
      <div class="container" >
           <h6>Ronald Sarmiento & Diego Vanegas</h6>
      </div>

</footer>
    <script src="views/lib/jquery/jquery-1.12.2.min.js"></script>
    <script src="views/lib/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
