header{
  background: #D40000;
  color: #fff;
}

.main{
  background: #f2f2f2;
}

.color{
  background: #34495e;
  color: #fff;
}

aside{
  background: #c0392b;
  color: #fff;
}
footer{
  background: #161A2B;
  color: #fff;
}
@keyframes slider{
  0%{
    left:0;
  }
  20%{
    left:0;
  }
  25%{
    left:-100%;
  }
  45%{
    left:-100%;
  }
  50%{
    left:-200%;
  }
  70%{
    left:-200%;
  }
  75%{
    left:-300%;
  }
  95%{
    left:-300%;
  }
  100%{
    left:-400%;
  }
}
  #slider {
    overflow:hidden;
  }
  #slider figure img{
    width: 20%;
    float: left;
  }
  #slider figure{
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 20s slider infinite;
  }
  #slider-text figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slider infinite;
  }
/* cambiar el color de fondo a la barra */
nav.navbar {
      background-color: #D40000;
      color:#ffffff;
}

.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #A40000;
}
